doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Login - Job Hopper
    link(rel='shortcut icon', href="{{ url_for('static', filename='favicon.ico') }}")

    
    link(rel='stylesheet', type='text/css', href='/static/scripts/modernizr-2.6.2.js')

    link(rel='stylesheet', type='text/css', href='/static/content/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/static/content/site.css')

    link(rel='stylesheet', type='text/css', href='/static/content/Styles.css')
    link(rel='stylesheet', type='text/css', href='/static/content/StylesNavbar.css')

    script(src='/static/scripts/modernizr-2.6.2.js')

    style.
        .no-js #loader { display:none }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }

  body
    script(src='/static/scripts/jquery-1.10.2.js')
    script(src='/static/scripts/bootstrap.js')
    script(src='/static/scripts/respond.js')

    .navbar.navbar-inverse.navbar-fixed-top.frogNav
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          span.navbar-brand.frogNav Job Hopper
    .container.body-content
      block content
      hr
      footer
        p &copy; #{year} - Find CS Jobs

    block scripts
