extends layoutSeeker

block content
	h2 Search for Jobs
	form(action='/jobFilter', method='post')
		input.frogGreenBorder(name='jobFullSearch', placeholder='Search...')

	div.sidenav.frogNav
		label Filters
		form.SearchFilters(action='/jobFilter', method='post')
			input.frogGreenDarkBorder(style='margin-bottom:8px', type='number', placeholder='Distance', name='Distance')
			input.frogGreenDarkBorder(style='margin-bottom:8px', type='number', placeholder='Pay', name='Pay')
			
			div(style='display:flex; margin-bottom:8px')
				span Full Time
				label.checkbox-label
					input(type="checkbox", name='FullTime')
					span.checkbox-custom.rectangular.frogGreenDarkBorder

			div(style='display:flex; margin-bottom:8px')
				span Part Time
				label.checkbox-label
					input(type="checkbox", name='PartTime')
					span.checkbox-custom.rectangular.frogGreenDarkBorder

			button.btn.btn-primary.center.frogGreen(
				style='margin:0% 1%; border: 2px solid #6D9984!important;', 
				type='submit', 
				name='UpdateFilters', 
				value='UF') Update